<section class="bg-white">
<div class="container">
<h1>Editing Mobile App</h1>

<%= render 'form', mobile_app: @mobile_app %>

<%= link_to 'Show', @mobile_app %> |
<%= link_to 'Back', mobile_apps_path %>
</div>
</section>