<section class="bg-dark">
  <!-- <img src="" alt="Image" class="bg-image opacity-70">--> 
  <div class="container height-lg-30">
    <div class="row">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-4 text-white">
          About
        </h1>
        <p class="lead mb-0 text-white">
          ... 
        </p>
      </div>
    </div>
  </div>
</section>
<!-- 
<section>
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <span class="h2">Editorial Team</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 col-md-4 d-flex">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/400" alt="Ali Afridi">
          <div class="card-body py-3">
            <h5 class="mb-0">Ali Afridi</h5>
            <span>Creator</span>
          </div>
          <div class="card-footer pt-0 border-top-0">
            <a href="#">ali@equal.vc</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 d-flex">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/400" alt="Amanda Shah">
          <div class="card-body py-3">
            <h5 class="mb-0">Legit Sales Leader 1</h5>
            <span>Head of Sales</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 d-flex">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/400" alt="Lucas Br&#xFC;ner">
          <div class="card-body py-3">
            <h5 class="mb-0">Legit Technology Specialist</h5>
            <span>Head of Technology</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <span class="h2">Investors &amp; Advisors</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/400" alt="Lucille Hobson">
          <div class="card-body py-3">
            <h5 class="mb-0">Partner 1</h5>
            <span>Legit VC</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/400" alt="Frank Jacobs">
          <div class="card-body py-3">
            <h5 class="mb-0">Partner 2</h5>
            <span>Legit VC</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/400" alt="Elizabeth Callahan">
          <div class="card-body py-3">
            <h5 class="mb-0">Sales Executive</h5>
            <span>Hotshot Sales Exec</span>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/400" alt="Robin Finch">
          <div class="card-body py-3">
            <h5 class="mb-0">Childcare Executive</h5>
            <span>CEO @ Big Company</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-sm-auto d-md-flex align-items-center text-center">
        <span class="d-block mr-md-3 mb-md-0 h4 mb-md-0">Looking for a rewarding career with Insight?</span>
        <a class="btn btn-primary btn-lg" href="#">View Careers</a>
      </div>
    </div>
  </div>
</section> -->