<section class="row no-gutters p-0 bg-white">
  <div class="col-md-5 col-xl-6 d-flex flex-column order-md-2">
    <%= image_tag("swings.jpg", alt: "Swings Image", class: "flex-grow-1") %>
  </div>
  <div class="col-md-7 col-xl-6 order-md-1 height-60 height-md-70">
    <div class="row w-100 no-gutters justify-content-center py-4">
      <div class="col-md-10 col-lg-9 col-xl-8 p-3">
        <h1 class="display-4 display-4 circ-bold">Discover the fastest growing tech companies</h1>
        <p class="lead circ-book">Twice a month, we highlight <b style="color:#EA2027;">fast growing</b> and <b style="color:#EA2027;">promising newly launched</b> tech companies across the United States</p> 

        <div class="d-flex align-items-center"> <a class="btn btn-lg btn-clear" href="#">See an Example</a>
        <span class="d-block mx-1 mx-sm-2 text-small">or</span> <a class="btn btn-lg btn-primary" href="#">Get Access</a>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="spacer-y-3" style="background-color:#2c3e50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-12 text-center">
        <span class="d-block mb-3 h2 text-white circ-book">The ultimate tool for job seekers, investors, and general startup enthusiats to discover break out companies</span> 
        <!-- <a class="btn btn-light btn-lg" href="#">Get Access</a>--> 
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
  	<h1 class="display-4 display-4 center" style="margin-bottom:50px;">Why CareStreet?</h1>
    <div class="row">
      <div class="col-lg-4 d-lg-flex">
        <div class="card">
          <div class="card-body py-4">
            <span class="d-block h1 display-4">40,000+</span>
            <p>Parents across the U.S. use CareStreet every month to find care for their children.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-lg-flex">
        <div class="card">
          <div class="card-body py-4">
            <span class="d-block h1 display-4">12 days</span>
            <p>The average length of time to get your first booking through the platform</p> 
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-lg-flex">
        <div class="card">
          <div class="card-body py-4">
            <span class="d-block h1 display-4">$15,000+</span>
            <p>In potential additional earnings for every seat you fill in your center</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white pb-md-0 pt-md-4">
  <div class="container">
    <div class="row justify-content-around align-items-center flex-md-row-reverse">
      <div class="col-md col-lg-6">
        <div class="d-flex mb-3"> 
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
          <i class="material-icons text-warning">star</i>
        </div>
        <span class="h2 d-block">&ldquo;CareStreet has helped me expand my business within a few months. I highly recommend their service.&rdquo;</span>
        <span>Adam Richards, Business Owner</span>
      </div>
      <div class="col-3 mt-md-4 mt-lg-0">
        <%= image_tag("woody.jpg", alt: "Woody Image", class: "d-none d-md-block") %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card py-3 px-xl-3">
          <div class="card-body">
            <span class="h6 d-block">Pay per referral</span>
            <span class="d-block display-4 mb-2 text-dark">$350</span>
            <p>Only pay when a referral through CareStreet books at your center.</p> <a href="#">Get Started</a>
          </div>
        </div>
        <ul>
          <li class="mb-2">Prominent placement on our site</li>
          <li class="mb-2"><b>Risk Free</b> - Only pay if you see results</li>
        </ul>
      </div>
    </div>
  </div>
</section>