<h3>TBU</h3>


<section class="bg-white">
  <div class="container">
  	<div class="center inter">
    		<h4>Leveraged by investors &amp; execs from over 100 VC firms</h4>
    	</div>
    <div class="row justify-content-around">
    	
      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-amazon.svg"
        alt="Amazon">
      </div>
      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-volkswagen.svg"
        alt="Volkswagen">
      </div>
      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-coca-cola.svg"
        alt="Coca Cola">
      </div>
      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-netflix.svg"
        alt="Netflix">
      </div>
      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-apple.svg"
        alt="Apple">
      </div>
      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-spotify.svg"
        alt="Spotify">
      </div>
    </div>
  </div>
</section>

