<section class="bg-dar"> <!-- style="background-image: linear-gradient(to right, #27ae60, #2ecc71);">--> 
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 center height-10 height-md-10">
        <h2 class="display-5 animate__animated animate__fadeIn text-whit">
          Coming Soon</h2>
      </div>
      <div class="col-md-5 col-xl-4">
      </div>
    </div>
  </div>
</section>
