<section class="bg-white">
	<div class="container">
		<h2>Different buttons for different jobs:</h2>
		<br><br>
		<% if user_signed_in? %>

			<p class="lead"><b>Get RSS feeds</b></p>
			<%= link_to "Get RSS", uploads_path(:news => true), class: "btn btn-primary" %>
			
			<br><br>

			<p class="lead"><b>Update Descriptions &amp; Flags</b></p>
			<%= link_to "Update Flags", uploads_path(:update_flags => true), class: "btn btn-primary" %>

		<% end %>

	</div>
</section>