@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "bootstrap";
@import "theme";
@import "font-awesome";
@import "jquery-ui";

@import "pages";
@import "news";

@font-face {
   font-family: 'Circular-Std-Bold';
   src: url('/fonts/Circular-Std-Bold.otf')
}

@font-face {
   font-family: 'Circular-Std-Book';
   src: url('/fonts/Circular-Std-Book.otf')
}

@font-face {
   font-family: 'Gotham-Black';
   src: url('/fonts/Gotham-Black.otf')
}

@font-face {
   font-family: 'Gotham-Bold';
   src: url('/fonts/Gotham-Bold.otf')
}

@font-face {
   font-family: 'Avenir-Next';
   src: url('/fonts/Avenir-Next.ttc')
}

@font-face {
   font-family: 'Avenir';
   src: url('/fonts/Avenir.ttf')
}

@font-face {
  font-family: 'Inter';
  src: '/fonts/Inter-Regular.ttf';
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: '/fonts/Inter-ExtraBold.ttf';
}

.inter {
  font-family: 'Inter', sans-serif;
}

.inter-bold {
  font-family: 'Inter-ExtraBold', sans-serif;
}

.avenir {
  font-family: 'Avenir', sans-serif;
}

.avenir-next {
  font-family: 'Avenir-Next', sans-serif;
}

.almarai {
  font-family: 'Almarai', sans-serif;
}

.gotham-bold {
  font-family: 'Gotham-Bold', sans-serif; 
}

.gotham-black {
  font-family: 'Gotham-Black', sans-serif; 
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

.hover-up:hover{
  -moz-transform: translate(2px, -2px);
    -ms-transform: translate(2px, -2px);
    -o-transform: translate(2px, -2px);
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
}

.hover{
  -moz-transform: translate(2px, -2px);
    -ms-transform: translate(2px, -2px);
    -o-transform: translate(2px, -2px);
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
}

.circ-bold {
  font-family: 'Circular-Std-Bold';
}

.circ-book {
  font-family: 'Circular-Std-Book';
}

.lato{
  font-family: 'Lato', sans-serif;
}

.open-sans{
  font-family: 'Open Sans', sans-serif;
}

.center {
	text-align: center;
}

.btn-clear {
  border-color: black;
}

.pagination a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0099FF;
  background-color: #fff;
  border: 1px solid #e9ecef; }
 .pagination a:hover {
    z-index: 2;
    color: #006bb3;
    text-decoration: none;
    background-color: #dee2e6;
    border-color: #dee2e6; }
  .pagination a:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 153, 255, 0.25); }
  .pagination a:not(:disabled):not(.disabled) {
    cursor: pointer; }

.pagination:first-child a {
  margin-left: 0;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem; }

.pagination:last-child a {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem; }

.pagination .active a{
  z-index: 1;
  color: #fff;
  background-color: #0099FF;
  border-color: #0099FF; }

.pagination em.current {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: #0099FF;
  border: 1px solid #e9ecef; }

.pagination span.disabled {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: #0099FF;
  border: 1px solid #e9ecef; }

/*
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal; }
*/
/*
.pagination a {
  height: 100%;
  display: flex; }
  .pagination a > span {
    display: flex;
    align-items: center; }
*/

.un {
  display: inline-block;
}

.un::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

.un:hover::after {
  width: 100%;
}