<footer class="spacer-y-1 bg-dark">
  <div class="container">
    <div class="row ">
      <div class="col">
        <span class="text-small text-white opacity-50">Built by Ali Afridi of Equal Ventures</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <ul class="list-unstyled d-flex list-pipe-separator"> 
          <li><%= link_to "About", about_path, class: "text-white text-small" %></li>
          <li><%= link_to "Feeds", feeds_path, class: "text-white text-small" %></li>
          <li><%= link_to "New Feed", new_feed_path, class: "text-white text-small" %></li>
      </div>
    </div>
  </div>
</footer>